{% extends "Base.html.twig" %}

{% block content %}
    {% for annonce in annonces %}
      <div class="panier_annonces">
          <a href="{{linkde}}?nom={{annonce.titre}}">
              <section class="annonce">
                  <img src="web/images/image-not-found.png" id="img_annonces">
                  <ul>
                      <li class="titre">{{annonce.titre}}</li><br>
                      <li class="prix">{{ annonce.prix }}€</li>
                  </ul>
              </section>
          </a>
      </div>
    {% endfor %}
    <div class="b_pagination">
      <ul class="pagination">
        <li><a href="{{l_annonces.href}}?page={{page_p}}">Page précédente</a></li>
        <li><a href="{{l_annonces.href}}?page={{page_s}}">Page suivante</a></li>
      </ul>
    </div>
{% endblock %}
