<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <link href="../web/style.css" rel="stylesheet">
      <link href="../web/annonce.css" rel="stylesheet">
      <link href="web/authentication.css" rel="stylesheet">
      <link href="web/annonces.css" rel="stylesheet">
      <link href="../web/dashboard.css" rel="stylesheet">
    </head>

    <body>
        <header id="header">
            <section id="title">
                <img src="../web/images/logo-2.png" id="logo">
            </section>
        </header>
        <nav id="menu">
            <div id="head-menu">Menu</div>
            <div id="list-menu">
              <li><a href="{{l_dashboard.href}}"><img src="../web/images/icons/dashboard2.png" class="icon">{{l_dashboard.title}}</a></li>
              <li><a href="{{l_annonces.href}}"><img src="../web/images/icons/annonce3.png" class="icon">{{l_annonces.title}}</a></li>
            </div>

            <div id="head-menu">User</div>
            <div id="user_menu">
              <img src="../web/images/icons/user2.png" id="user_icon" >
              <li class="nom_adm">Admin</li>
              <li class="nom_adm"><small><a href="{{l_logout.href}}">{{l_logout.title}}</small></a></li>
            </div>
        </nav>
        <article id="contenu">
            {% for a in annonce%}
              <div class="fiche_annonce">
                  <h1 id="h1">{{a.titre}}</h1>
                  <img src="../web/images/image-not-found.png" id="img_annonce">
                  <ul class="description">
                      <li id="prix">{{a.prix}}€</li>
                      <li><b>Descriptif : </b>{{a.descriptif}} </li>
                      <li><b>Ville : </b>{{a.ville}} C.P.{{a.code_postal}}</li>
                  </ul>
                  <hr id="hr_annonce"/>
                  <ul class="annonceur">
                      <li><b>Annonceur : </b>{{a.nom_a}} {{a.prenom_a}} </li>
                      <li><b>Tel : </b>{{a.tel_a}}</li>
                  </ul>
                  <form method="POST" name="status">
                    <button value="1" name="valider" class="btn">Valider</button>
                    <button value="2" name="refuser" class="btn">Refuser</button>
                  </form>
                  {{message}}
              </div>
            {% endfor %}
      </article>
  </body>
</html>
