<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <title>Racoin</title>
      <link href="web/style.css" rel="stylesheet">
      <link href="../web/annonce.css" rel="stylesheet">
      <link href="web/annonces.css" rel="stylesheet">
      <link href="web/dashboard.css" rel="stylesheet">
    </head>

    <body>
        <div id="fix">
        <header id="header">
            <section id="title">
                <img src="web/images/logo-2.png" id="logo">
            </section>
        </header>
        <nav id="menu">
            <div id="head-menu">Menu</div>
            <div id="list-menu">
              <li><a href="{{l_dashboard.href}}"><img src="web/images/icons/dashboard2.png" class="icon">{{l_dashboard.title}}</a></li>
              <li><a href="{{l_annonces.href}}?page=1"><img src="web/images/icons/annonce3.png" class="icon">{{l_annonces.title}}</a></li>
            </div><br>

            <div id="head-menu">User</div>
            <div id="user_menu">
              <img src="web/images/icons/user2.png" id="user_icon" >
              <li class="nom_adm">Admin</li>
              <li class="nom_adm"><small><a href="{{l_logout.href}}">{{l_logout.title}}</small></a></li>
            </div>
        </nav>
        </div>
        <article id="contenu">
            {% block content%}

            {% endblock %}
        </article>
    </body>
</html>
