{% extends "Base.html.twig" %}

{% block content %}
  <div class="count c_annonces">
      <h1>Annonces</h1>
      <div class="c_annonce a_total">
        <h2>{{count.total}}</h2>
        Annonces créées
      </div>
      <div class="c_annonce a_cree">
        <h2>{{count.crees}}</h2>
        Annonces en attendant
      </div>
      <div class="c_annonce a_online">
        <h2>{{count.online}}</h2>
        Annonces online
      </div>
      <div class="c_annonce a_supprime">
        <h2>{{count.supprimees}}</h2>
        Annonces supprimées
      </div>
  </div>

  <div class="count c_categories">
      <h1>Categories</h1>
      {% for c in categorie %}
        <div class="c_annonce cat">
          <h2>{{c.libelle}}</h2>
        </div>
      {% endfor%}
  </div>

  <div class="count c_annonces">
  </div>

{% endblock %}
