<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <title>Racoin</title>
      <link href="web/authentication.css" rel="stylesheet">
    </head>

    <body>
        <div id="fix">
        <header id="header">
            <section id="title">
                <img src="web/images/logo-2.png" id="logo">
            </section>
        </header>
        </div>
        <article id="contenu">
            <section id="article">
              <section id="connexion">
                  <form method="post">
                      <div class="title">
                        <h2>Administration Racoin</h2>
                      </div>
                      <input name="nom" placeholder="Identifiant" type="text"/>
                      <input name="pass" placeholder="Mot de passe" type="password"/>

                      <button id="btn_login">Acceder</button>
                  </form>
              </section>
              <section id="connexion">
                  <form method="post">
                      <div class="title">
                        <h2>Api key</h2>
                        <h3><small>{{enc_api}} {{api_key}}</small></h3>
                      </div>
                      <input name="nom_apik" placeholder="Nom d'utilisateur" type="text"/>
                      <button id="btn_login">Générer</button>
                  </form>
              </section>

            </section>
        </article>
    </body>
</html>
