.fiche_annonce{
  padding: 1%;
  width:90%;
  margin: auto;
  text-align: justify;
}

#h1{
  text-align: center;
}

#img_annonce{
  width:40%;
  float:left;
  margin-right: 3%;
}

.description li{
  list-style: none;
  margin: 1% 0;
}

#prix{
  color:#AF0000;
  font-weight: bold;
  font-size: 1.5em;
}

.annonceur li{
  list-style: none;
  margin: 1% 0;
}

.btn{
  background-color:#33806B;
  border:none;
  border-radius:4px;
  padding:1%;
  margin:1%;
  width:10%;
  color:White;
  float:right;
}

.btn:hover{
  background-color: #235849;
}

#hr_annonce{
  border-top: 1px solid Grey;
  border-right: 0px;
  border-bottom: 0px;
}
