.pannier_annonces{
  text-align: center;
  font-size: .94em;
  overflow: hidden;
}
.annonce{
  width:23%;
  height: 14em;
  float:left;
  text-align: justify;
  border-radius:6px;
  box-shadow:1px 2px #E2E2E2;
  margin: 1%;
  color:Black;
}

.annonce:hover{
  background-color: #F5F5F5;
}

.annonce li{
  list-style:none;
}

.annonce ul{
  padding:0 3%;
  border: 0;
}

.titre{
  font-weight: bold;
  font-size: 1.15em;
  text-align: center;
}

.titre a{
  text-decoration: none;
  color:Black;
}

.prix{
  color:#AF0000;
  font-weight: bold;
  text-align: center;
}

#img_annonces{
  width:40%;
  margin:auto;
  display: block;
  padding-top: 3%;
}

.b_pagination{
  float:none;
  height: auto;
  display: block;
  margin:2%;
}

.pagination{
  list-style: none;
  text-align: center;
}

.pagination li{
  display: inline;
}

.pagination a{
  text-decoration: none;
  color:white;
  background-color:#33806B;
  margin-top:2%;
  padding:.5% 2%;
  border-radius: 2px;
}

.pagination a:hover{
  background-color: #235849;
}
