body{
  margin:0;
  padding:0;
  border:0;
  font-family:sans-serif;;
  background-color: #3B957D;
}

#header{
  padding:.5%;
  background-color: White;
  width:99%;
  box-shadow:1px 1px 2px 1px #D6D6D6;
  overflow: hidden;
}

#logo{
  width:13%;
  float:left;
}

form{
  padding:3% 1%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

#article{
  width: 100%;
  padding:1%;
}

#connexion{
  width: 40%;
  border-radius: 10px;
  margin: auto;
}

#api{
  width: 30%;
  float:right;
}

.title{
  padding:2% 1%;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  color:white;
}

input{
  border:0;
  border-radius: 3px;
  background-color: #43A98E;
  height: 2em;
  width:70%;
  padding:2%;
  color:white;
  text-align: center;
  margin-bottom: 3%;
}

input:focus{
  outline: none;
  border:solid 2px #48B598;
}

#hr_login{
  border-top: 1px solid white;
  border-right: 0px;
  border-bottom: 0px;
}

#btn_login{
  border:0;
  padding:3%;
  width:74%;
  margin: auto;
}

#btn_login:hover{
  background-color: #CCCCCC;
}


::-webkit-input-placeholder { color: #D8D8D8; } /* WebKit */
:-moz-placeholder { color: white; } /* Firefox 18- */
::-moz-placeholder { color: white; } /* Firefox 19+ */
:-ms-input-placeholder { color: white; } /* IE 10+ */
