.count{
  margin-bottom: 1%;
  overflow: hidden;
}
.c_annonce{
  width:24%;
  padding-bottom:1%;
  float:left;
  margin-right:1%;
  border-radius:5px;
  color:White;
  text-align: center;
}

.a_cree{
  background-color: #F68924;
}
.a_total{
  background-color: #5090DA;
}

.a_online{
  background-color: #5FCA7B;
}

.a_supprime{
  background-color: #D65462;
}

.chiffre{
  float:right;
}

.cat{
  background-color: #636875;
  margin-bottom:2%;
}
