body{
  margin:0;
  padding:0;
  border:0;
  font-family:sans-serif;;
  background-color: #FAFAFA;
}

#fix{
  position: fixed;
  width: 100%;
  overflow: hidden;
}

#header{
  padding:.5%;
  background-color: White;
  width:99%;
  box-shadow:1px 1px 2px 1px #D6D6D6;
  overflow: hidden;
}

#logo{
  width:13%;
  float:left;
}

#title{
  font-size: 2em;

}

#head-menu{
  padding:5% 0 5% 7%;
  margin-top:5%;
  background-color: #458775;
  width: 93%;
}

#menu{
  float:left;
  width:14%;
  background-color: #33806B;
  height: 500px;
  color:White;
  position:absolute;
  height:100%;
  position:fixed;
}

#list-menu{
  padding:3% 0 0 10%;
}

#menu li{
  list-style: none;
  padding: 4% 1%;

}

#menu a{
  text-decoration: none;
  color: White;
}

.icon{
  width:12%;
  padding-right:4%;
}

#contenu{
  width:84%;
  float:right;
  margin-top: 5%;
}

hr{
  border-top: 1px solid Grey;
  border-right: 0px;
  border-bottom: 0px;
}

#user_menu{
  text-align: center;
}

#user_icon{
  margin:0;
  padding:3% 0;
  border:0;
  width:34%;
  margin: auto;
  display: block;
}

#nom_adm{
  text-align: center;
}
